.border {
  border: 2px solid red;
  margin: 3px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.bg-black {
  background-color: black;
  color: white;
}
.invert {
  filter: invert(1);
}
.bg-grey {
  background-color: #121212;
}
.rounded {
  border-radius: 7px;
}
.m-1 {
  margin: 5px;
}
/* Scrollbar Track */
/*
::-webkit-scrollbar-track {
  background-color: #333; /* Change this to your desired background color 
}

/* Scrollbar Handle 
::-webkit-scrollbar-thumb {
  background-color: #666; /* Change this to your desired handle color 
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Change this to your desired hover color 
}

/* Scrollbar Track for Firefox 
html {
  scrollbar-color: #333 #666; /* Change this to your desired track and handle color 
}

/* Handle on hover for Firefox 
html:hover {
  scrollbar-color: #333 #888; /* Change this to your desired track and hover handle color 
}
*/
